<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ pageTitle | default: "goblinOS" }}</title>
        <link  rel="stylesheet" href="{{ 'assets/css/styles.css' }}">
        <link rel="icon" href="/assets/images/favicon.ico?v=2" type="image/x-icon" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ 'assets/js/main.js' }}" type="module"></script>
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
        <link rel="preload" href="/assets/ui/shroom.png" as="image" />
        <link rel="preload" href="/assets/ui/left-bracket.png" as="image" />
        <link rel="preload" href="/assets/ui/right-bracket.png" as="image" />
        <link rel="preload" href="/assets/fonts/Alkhemikal.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="/assets/fonts/scream_when_youre_ready_to_die.woff2" as="font" type="font/woff2" crossorigin="anonoymous">
    </head>
    <body>
        {{ content }}
    </body>
</html>
