@use '../abstract/colors';
@use '../abstract/fonts';

.window {
    position: absolute;
    min-width: 200px;
    transition: transform 0.1s ease;
    transition: box-shadow 0.1s ease;
    background-color: red;
    margin: auto; 
}

.hidden {
    display: none;
}

.window-body {
    height: fit-content;
    width: 100%;
    background-color: colors.$bg-color;
    color: black;

    border-width: 8px; /* matches your slice size */
    background-color: #fff3ea;
    border-image-source: url('/assets/ui/window_content_9slice_new.png');
    border-image-slice: 8; /* slice 8 px from each edge */
    border-image-repeat: repeat; /* or stretch, depending on your design */
    image-rendering: pixelated; /* keeps it crisp when scaled */
    border-style: solid; /* required for border-image to apply */

}

.window-header {
    display: flex;
    // background-color: colors.$border-color;
    border-width: 8px; /* matches your slice size */
    background-color: #946237;
    border-image-source: url('/assets/ui/frame_9slice.png');
    border-image-slice: 8; /* slice 8 px from each edge */
    border-image-repeat: repeat; /* or stretch, depending on your design */
    image-rendering: pixelated; /* keeps it crisp when scaled */
    border-style: solid; /* required for border-image to apply */
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
    font-size: 1.35rem;

}

.window-title {
    user-select: none;
    font-family: fonts.$display-font;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
}

.window-controls {
    display: flex;
    gap: 5px;
    height: 24px;
}

.window-control {
    cursor: default;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: rgba(black, .1);
    }

    
}

.window-control.expand {
    background-image: url("/assets/ui/button_expand.png");
    background-size: cover;
    height: 24px;
    width: 21px;

    &:hover {
        background-image: url("/assets/ui/button_expand_hover.png");
        cursor: pointer;
    }    
}

.window-control.close {
    background-image: url("/assets/ui/button_close.png");
    background-size: cover;
    height: 24px;
    width: 24px;

    &:hover {
        background-image: url("/assets/ui/button_close_hover.png");
        
    }    
}

.window.dragging {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

  transform: scale(1.05);  /* Or adjust as desired */
  
}