@use '../abstract/colors';

.window {
    position: absolute;
    min-width: 200px;
    transition: transform 0.1s ease;
    transition: box-shadow 0.1s ease;
}

.window-body {
    height: fit-content;
    border-left: 3px solid colors.$border-color;
    border-right: 3px solid colors.$border-color;
    border-bottom: 3px solid colors.$border-color;
    background-color: colors.$bg-color;
    color: black;
}

.window-header {
    display: flex;
    background-color: colors.$border-color;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    font-size: 1.35rem;
    cursor: grab;
}

.window-title {
    user-select: none;
}

.window-controls {
    display: flex;
    gap: 5px;
    height: 24px;
}

.window-control {
    cursor: default;

    &:hover {
        background-color: rgba(black, .1);
    }
}

.window.dragging {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  cursor: move;
  transform: scale(1.05);  /* Or adjust as desired */
  
}