.app {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    max-height: 720px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app .desktop {
    flex: 1;
}