.desktop {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("https://64.media.tumblr.com/3982781f6d550087ad0f92efb3cdac2f/77d10d3a5e821f6a-c5/s1280x1920/fd695388008afa7f8fa7552d59da8f3b2dfdd580.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}