@use '../abstract/colors';

#header {
    border-bottom: 2px solid colors.$border-color;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
}

.header-title {
    font-size: 2rem;
    color: colors.$border-color;
}