#overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(black, .9);
    image-rendering: pixelated;
    // background-color: rgba(white, .5);
    background-size: contain;
    opacity: 0;
    z-index: 0;
    pointer-events: none; /* So clicks pass through when hidden */
    transition: opacity 0.3s ease;
}