#overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("https://i.redd.it/30um0rwun2d01.png");
    image-rendering: pixelated;
    background-color: rgba(white, .5);
    background-size: cover;
    opacity: 0;
    z-index: 0;
    pointer-events: none; /* So clicks pass through when hidden */
    transition: opacity 0.3s ease;
}