@use '../abstract/fonts';
@use '../abstract/colors';

.taskbar {
    padding: 0 10px;
    align-items: center;
    display: flex;
    width: 100%;
    bottom: 0;
    background-color: #563935;
    color: colors.$panel-bg-color;
    font-family: fonts.$body-font;
    font-size: 1rem;
}

.taskbar-start {
    margin-right: 40px;
    user-select: none;
    cursor: not-allowed;
}

.taskbar-tabs {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
    
}

.taskbar-tab {
    height: 100%;
    padding: 5px 5px;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    &:hover,
    &.active {
        background-color: rgba(black, .5);
    }
}

.drawer {
    position: absolute;
    bottom: 26px;
    left: 0;
    height: 300px;
    width: 100%;
    background-color: rgba(#563935, .5);
    z-index: 9999999;
    display: none;
    border-top: 4px solid #563935;
}

.pages-section, .widgets-section {
    padding: 5px 15px;
}

.section-title {
    user-select: none;
}

.toggle {
    display: inline-block;
    padding: 2.5px;
    cursor: pointer;
    user-select: none;
}

.toggle.active {
    background-color: #539e84;
}

.terminal {
    height: 100%;
    width: 100%;
    background-color: rgba(#0a3e34, .5);
    padding: 5px 15px;
}