@use '../abstract/fonts';

.window-container {
    position: absolute;

    height: 200px;
    width: 200px;
    border-width: 16px;
    border-style: solid;
    border-image-source: url('/assets/ui/9grid_bg.png');
    border-image-slice: 8 fill;
    border-image-repeat: repeat;
}



.window-titlebar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #351518;
    user-select: none;
    color: white;
    font-family: fonts.$display-font;
    font-size: 13px;
    padding-bottom: 10px;
}

.window-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

   
}

.window-body {
    height: 100%;
    overflow: hidden;
}

.window-content {
    height: 100%;
    padding: 10px;
    color: white;
    font-size: 20px;
    
}

.window-controls {
    display: flex;
    left: 0;
}

.window-button {
    height: 16px;
    width: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    padding: 2.5px;
    
    &:hover {
        background-color: rgba(black, .5);
        cursor: pointer;
    }
}

.window-button.close {
    background-image: url('/assets/ui/close_button.png');

}

.window-button.expand {
    background-image: url('/assets/ui/expand_button.png');
}