.window-container {
    position: absolute;
    background-color: #ccc;
    max-height: 500px;
    height: 200px;
    width: 200px;
    // border-width: 16px;
    // border-style: solid;
    // border-image-source: url('/assets/ui/corners.png');
    // border-image-slice: 8 fill;
    // border-image-repeat: repeat;
}

.window-titlebar {
    display: flex;
    justify-content: space-between;
}

.window-controls {
    display: flex;

}