<div id="preloader">
    <div class="preloader-box">
        <div class="preloader-content">
            <span class="loading-text">Booting GoblinOS...</span>
            <div class="loading-bar">
                <span class="bracket-start"></span>
                <span class="shroom"></span>
                <span class="shroom"></span>
                <span class="shroom"></span>
                <span class="shroom"></span>
                <span class="shroom"></span>
                <span class="bracket-end"></span>
            </div>
            <button id="start-button">Start!</button>
        </div>
    </div>
</div>