<div id="preloader">
    <div class="preloader-box">
        <div class="preloader-content">
            <span class="loading-text">Booting GoblinOS...</span>
            <button id="start-button">Start!</button>
            {% comment %} <div class="disclaimer">
                *This website works best in 1980x1080 screens!
            </div> {% endcomment %}
        </div>
        <img class="preloader-image" src="https://cdn.pixilart.com/photos/orginal/5d5e46b543825b4.gif">
    </div>
</div>