<div class="taskbar">
    <div class="taskbar-start">
        <div>Start</div>
    </div>
    <div class="taskbar-tabs">
        <span id="taskbar-terminal" class="taskbar-tab">Terminal</span>
        <span id="taskbar-windows-manager" class="taskbar-tab">Windows Manager</span>
        <span id="taskbar-guestbook" class="taskbar-tab">Guestbook</span>
    </div>
    <div class="taskbar-system">
        <time id="current-time">13:00:00</time>
    </div>
    <div class="drawer">
        <div id="drawer-terminal" class="terminal" style="display: none">Terminal</div>
        <div id="drawer-windows-manager" class="windows-manager" style="display: none">Windows Manager</div>
        <div id="drawer-guestbook" class="guestbook" style="display: none">Guestbook</div>
    </div>
</div>