<div class="taskbar">
    <div class="taskbar-start">
        <div>Start</div>
    </div>
    <div class="taskbar-tabs">
        <div id="taskbar-terminal" class="taskbar-tab">
            <img src="assets/ui/terminal_icon.png">
            <span class="taskbar-text">Terminal</span>
            
        </div>
        <div id="taskbar-windows-manager" class="taskbar-tab">
            <img src="assets/ui/window_icon.png">
            <span class="taskbar-text">Windows Manager</span>
        </div>
    </div>
    <div class="taskbar-system">
        <time id="current-time">13:00:00</time>
    </div>
    <div class="drawer">
        <div id="drawer-terminal" class="terminal" style="display: none">Terminal</div>
        <div id="drawer-windows-manager" class="windows-manager" style="display: none">Windows Manager</div>
    </div>
</div>