---
layout: base.liquid
---
<div id="app">
    {% render 'layout/header' %}
    <div id="main">
            {% for w in windows %}
                {% render 'components/window'
                    windowId: w.id
                    windowTitle: w.windowTitle
                    windowHeight: w.windowHeight
                    windowWidth: w.windowWidth
                    windowX: w.windowX
                    windowY: w.windowY
                    renderPath: w.renderPath
                %}
            {% endfor %}
    </div>
</div>