---
layout: base.liquid
---
<div id="app">
    {% render 'layout/header' %}
    {% comment %} <div id="overlay"></div> {% endcomment %}
    {% include 'layout/main' %}
    {% include 'layout/drawer' %}
</div>