<div class="precious-container">
    <ul class="precious-list">
        <li class="precious-item">
            {% for f in finds %}
                hello
            {% endfor %}
        </li>
    </ul>
</div>